/*Welcome Page*/

body {
  background-image: url("assets/bg.jpg");
  background-size: cover;
  color: white;
  font-family: Outfit;
}

.main-container {
  width: 80%;
  margin-top: 30px;
  margin-inline: auto;
  position: relative;
}

.epicodeLogo img {
  height: 35px;
}

#container {
  width: 40%;
}

h1 {
  font-weight: 400;
  font-size: 80px;
}

h1 span {
  display: block;
  line-height: 0.5;
  font-weight: bold;
  margin-bottom: 50px;
}

#instructions {
  font-weight: 300;
  margin-top: 80px;
}

h2 {
  color: #d20094;
  font-size: 30px;
  line-height: 0.7;
}

ul {
  margin-top: 50px;
  width: 600px;
  padding-left: 20px;
}

#promise {
  margin-top: 50px;
}

.button {
  position: absolute;
  top: 560px;
  right: 200px;
}

button {
  color: black;
  font-family: Outfit;
  padding: 15px 50px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: #00ffff;
  box-shadow: 0px 0px 39px -6px rgba(0, 255, 255, 1);
  cursor: pointer;
}

#checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#inputPreview {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#checkbox+label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 24px;
  color: white;
}

#checkbox+label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  background-color: rgb(11, 17, 59);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: none;
  margin-right: 20px;
}

#checkbox:checked+label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 24px;
  width: 24px;
}


/*Feedback Page*/

.rate {
  height: 95px;
  width: 50%;
  margin-inline: auto;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 60px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: "★";
}

.rate>input:checked~label {
  color: #00FFFF;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #00FFFF;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #00FFFF;
}


.elements-container {
  width: 50%;
  margin-top: 100px;
  margin-inline: auto;
  position: relative;
  text-align: center;
}

.elements-container h2 {
  font-weight: bold;
  font-size: 45px;
  color: white;
}

.elements-container h3 {
  font-weight: lighter;
  line-height: 1.2;
  font-size: 24px;
}

.leave-us-feedback {
  text-align: center;
}

.leave-us-feedback h3 {
  font-weight: lighter;
  margin-top: 5%;
  font-size: 23px;
}

.text-input-container {
  text-align: center;
  margin-inline: auto;
  margin-top: 2%;
  width: 50%;
  color: #d20094;
  border: 0;
  border-bottom: 1px solid;
}

#feedback {
  background-color: transparent;
  border: none;
  width: 100%;
  color: white;
  font-size: 15px;
  font-family: inherit;
  padding-left: 10px;
  padding-bottom: 10px;
}

#feedback:focus {
  outline: none;
  font-family: inherit;
}

.button-section {
  text-align: center;
  margin-top: 5%;
}

button {
  font-weight: 300;
}

/*Questions Page*/

.question-container {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 6%;
  margin-inline: auto;
  position: relative;
}

.question-container h2 {
  color: white;
  font-size: 40px;
}

.question-container h2 span {
  font-weight: bold;
}

.answers-container {
  width: 80%;
  text-align: center;
  margin-inline: auto;
  margin-top: 20px;
}

.answers-container div {
  display: inline-block;
  font-size: 15px;
  width: 20%;
  text-align: center;
  margin: 20px 40px;
  padding: 8px 40px;
  position: relative;
  box-shadow: -4px -4px 5px -2px #ffffff;
  background-color: rgba(255, 255, 255, 0.118);
  border-radius: 40px;
  cursor: pointer;
}


.button-next {
  text-align: center;
  margin-top: 5%;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-inline: auto;
}

.footer span {
  color: #d20094;
}

#bottom-container {
  position: absolute;
  top: 530px;
  right: 530px;
}

/* RESULTS PAGE */

.results-container {
  position: relative;
  text-align: center;
}

.results-text {
  width: 60%;
  margin-inline: auto;
}

.results-text h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.results-text h3 {
  margin-top: 0;
  font-weight: 300;
}

#results {
  display: flex;
}

#chart {
  display: block;
  border-radius: 100%;
  width: 340px;
  height: 340px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: conic-gradient(#d20094 0deg 120deg,
      #00ffff 120deg 360deg);
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
}

#chart::after {
  content: '';
  display: block;
  position: absolute;
  width: 230px;
  height: 230px;
  /* background: rgb(11, 17, 59); */
  background-image: url("assets/result.jpg");
  background-size: cover;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
}

#correct {
  position: absolute;
  top: 200px;
  left: 150px;
  text-align: left;
}


#wrong {
  position: absolute;
  top: 200px;
  right: 150px;
  text-align: right;
}

.results-container h2 {
  font-size: 40px;
  color: white;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}

.results-container .percentage {
  font-weight: 500;
}

.results-container h3 {
  margin-top: 0;
  font-weight: 100;
}

.chart-text {
  position: absolute;
  top: 210px;
  left: 517px;
  width: 180px;
}

.passed-text {
  margin-bottom: 0;
}

.colored-text {
  color: #00ffff;
  margin-top: 0;
}

.small-text {
  font-size: 12px;
  font-family: Inter;
  width: 180px;
  font-weight: 100;
}

.small-text .certificate-text {
  margin-top: 35px;
  margin-bottom: 0;
}

.small-text .email-text {
  margin-top: 0;
}

.results-button {
  position: absolute;
  top: 600px;
  left: 495px;
}

.results-button #rate-button {
  color: white;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  padding-left: 70px;
  padding-right: 70px;
}

#rate-button:hover {
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.75);
  background-color: #00ffff;
}